<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="tjoeGSTEntities"
				  connectionString="metadata=res://*/Data.ApplicationDBModel.csdl|res://*/Data.ApplicationDBModel.ssdl|res://*/Data.ApplicationDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
									data source=192.168.1.4,1434;initial catalog=tjoeGST;user id=Admin;password=Admin@123;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
				  providerName="System.Data.EntityClient" /> 

		<!--<add name="tjoeGSTEntities"
						  connectionString="metadata=res://*/Data.ApplicationDBModel.csdl|res://*/Data.ApplicationDBModel.ssdl|res://*/Data.ApplicationDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
									data source=192.168.1.4,1434;initial catalog=GSTCompareDocs;user id=Admin;password=Admin@123;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
						  providerName="System.Data.EntityClient" />-->

		<!-- <add name="tjoeGSTEntities"
			 connectionString="metadata=res://*/Data.ApplicationDBModel.csdl|res://*/Data.ApplicationDBModel.ssdl|res://*/Data.ApplicationDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
			                   data source=VICKY\SQLEXPRESS;initial catalog=tjoeGST;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient" />  -->

		<!--<add name="tjoeGSTEntities"
			 connectionString="metadata=res://*/Data.ApplicationDBModel.csdl|res://*/Data.ApplicationDBModel.ssdl|res://*/Data.ApplicationDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
			                   data source=DESKTOP-DL55F3K\SQLEXPRESS;initial catalog=tjoeGST;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient" />  -->
	</connectionStrings>


	<appSettings>
		<add key="InvoiceHeaders" value="User GSTIN,period,Supplier GSTIN,Supplier Name,invoiceno,invoice_date,Taxable Value,cgst,sgst,Integrated Tax,Cess"/>
		<add key="PortalHeaders" value="User GSTIN,GstRegType,invoiceno,invoice_date,Supplier GSTIN,SupplierName,IsRcmApplied,InvoiceValue,ItemTaxableValue,GstRate,IGSTAmount,CGSTAmount,SGSTAmount,CESS,IsReturnFiled,ReturnPeriod"/>
		<add key="MatchTypes" value ="1_Exactly_Matched_GST_INV_DT_TAXB_TAX,
									  2_Matched_With_Tolerance_GST_INV_DT_TAXB_TAX,
									  
									  3_Partially_Matched_GST_INV,
									  4_Partially_Matched_GST_DT,
									  5_Probable_Matched_GST_TAXB,									 
						
									  6_UnMatched_Excess_or_Short_1_Invoicewise,									
									  Available_In_PR_Not_In_Portal,    
									  Available_In_Portal_Not_In_PR"/>
		<add key ="UnMatched" value ="6_UnMatched_Excess_or_Short_1_Invoicewise,									
								  Available_In_PR_Not_In_Portal,    
								  Available_In_Portal_Not_In_PR"/>

		<add key="SLInvoice" value="S.NO,INV NO,DATE,NAME OF CUSTOMERS,GST No,State to Supply(POS),TAXABLE AMOUNT,IGST,SGST,CGST,TOTAL,GST Rates,HSN/SAC Code,Qty,Units,Material Description,Type of Invoice,User Gstin,IRN"/>
		<add key ="SLEInvoice" value ="GSTIN/UIN of Recipient,Receiver Name,Invoice Number,Invoice date,Invoice Value,Place Of Supply,Reverse Charge,Applicable % of Tax Rate,Invoice Type,E-Commerce GSTIN,Rate,Taxable Value,Integrated Tax,Central Tax,State/UT Tax,Cess Amount,IRN,IRN date,E-invoice status,GSTR-1 auto-population/ deletion upon cancellation date,GSTR-1 auto-population/ deletion status,Error in auto-population/ deletion"/>
		<add key ="SLEWayBill" value ="EWB No,EWB Date,Supply Type,Doc.No,Doc.Date,Doc.Type,TO GSTIN,status,No of Items,Main HSN Code,Main HSN Desc,Assessable Value,SGST Value,CGST Value,IGST Value,CESS Value,Total Invoice Value,Valid Till Date,Gen.Mode"/>
		
		<add key ="SLMatchTypes" value =" 1_Exactly_Matched_GST_INV_DT_TAXB_TAX,
										  2_Matched_With_Tolerance_GST_INV_DT_TAXB_TAX,
									  
										  3_Partially_Matched_GST_INV,
										  4_Partially_Matched_GST_DT,
										  5_Probable_Matched_GST_TAXB,									 
						
										  6_UnMatched_Excess_or_Short_1_Invoicewise,
										Available_In_Sales_Register_MISSING_In_E_Invoice,
										Available_In_Sales_Register_MISSING_In_E_WayBIll,										  
										Available_In_E_Invoice_MISSING_In_Sales_Register,
										Available_In_E_Invoice_MISSING_In_E_WayBIll,										  
										Available_In_E_WayBIll_MISSING_In_E_Invoice,
										Available_In_E_WayBIll_MISSING_In_Sales_Register"/>

		<add key ="Compare" value ="SR vs EI,EI vs EWB,SR vs EWB"/>
		
	</appSettings>

</configuration>