<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
			<add name="tjoeGSTEntities"
				  connectionString="metadata=res://*/Data.ApplicationDBModel.csdl|res://*/Data.ApplicationDBModel.ssdl|res://*/Data.ApplicationDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
					 			data source=192.168.1.4,1434;initial catalog=tjoeGST;user id=Admin;password=Admin@123;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
				  providerName="System.Data.EntityClient" />

		<!--<add name="tjoeGSTEntities"
				  connectionString="metadata=res://*/Data.ApplicationDBModel.csdl|res://*/Data.ApplicationDBModel.ssdl|res://*/Data.ApplicationDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
					 			data source=192.168.1.4,1434;initial catalog=GSTCompareDocs;user id=Admin;password=Admin@123;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
				  providerName="System.Data.EntityClient" /> -->


		<!-- <add name="tjoeGSTEntities"
			    connectionString="metadata=res://*/Data.ApplicationDBModel.csdl|res://*/Data.ApplicationDBModel.ssdl|res://*/Data.ApplicationDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
			                      data source=VICKY\SQLEXPRESS;initial catalog=tjoeGST;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
			    providerName="System.Data.EntityClient" /> -->

		<!--	<add name="tjoeGSTEntities"
			      connectionString="metadata=res://*/Data.ApplicationDBModel.csdl|res://*/Data.ApplicationDBModel.ssdl|res://*/Data.ApplicationDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
			                        data source=DESKTOP-DL55F3K\SQLEXPRESS;initial catalog=tjoeGST;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
			    providerName="System.Data.EntityClient" />  -->
		
	<!--	<add name="DefaultConnection" 
			 connectionString="provider=System.Data.SqlClient;
			 provider connection string=&quot;
			 data source=192.168.1.4,1434;
			 initial catalog=tjoeGST;
			 user id=Admin;password=Admin@123;
			 MultipleActiveResultSets=True;
			 App=EntityFramework&quot;" 
			 providerName="System.Data.EntityClient" />-->
	</connectionStrings>
</configuration>