body {
    margin: 0px;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: #f1f3f6;
}

.table-container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    max-height: calc(80vh - 60px);
}

.table-wrapper {
    flex: 1;
    max-height: 390px;
    max-width: 630px;
    overflow-y: auto;
    border: 1px solid #ddd;
    font-size: 14px;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.table-wrapper thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background: white;
}

.button-container {
    text-align: center;
    margin-top: 1px;
}

.non-editable {
    background-color: #f5f5f5;
    cursor: not-allowed;
}

.btn-container {
    padding: 4px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.read-only {
    background-color: #f0f0f0;
    pointer-events: none;
}

.sl-no {
    width: 50px;
}

.col-invoice-number {
    width: 120px;
}

.col-invoice-date {
    width: 100px;
}

.col-supplier-gstin {
    width: 150px;
}

.col-total-tax {
    width: 80px;
}

.col-default {
    width: 100px;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1300px;
    }
}
